body {
    margin: 60px auto;
    width: 70%;
    background-image: url("/image/bkg.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 2%;
}
nav ul li.true {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgba(39, 41, 48, 0.911);
}
a:hover {
    background-color: rgba(0,0,0,0.15);
    background-size: 10px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
h5{
    text-align: left;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}


div.blurb {
    background-color:rgba(0,0,0,0.05);
    padding: 2%;
    text-indent:20px;
    margin-bottom: 10px;
}

div.post{
    font-size: 1.1em;
    background-color:rgba(0,0,0,0.05);
    padding: 2%;
    text-indent:40px;
    margin-bottom: 10px;
}

div.header{
    display: inline;
}

p.meta {
    text-align: center;
    font-family:'Arial', 'Sans-Serif';
}