body,html{ 
    height:100%;
}

body {
    margin: 60px auto;
    width: 80%;
    background-image: url("/image/3459068.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

nav ul {
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: rgba(39, 41, 48, 0.911);
}
a:hover {
    background-color: rgba(0,0,0,0.15);
    background-size: 10px;
}

h1 {
    font-size: 3em;
}
h2 {
    text-align: center;
}
h5{
    text-align: left;
}

p {
    line-height: 1.4em;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}
p.meta {
    text-align: center;
    font-size: 1.0em;
}

ul.posts li{
    list-style: none;
    margin-bottom: 1.5em;
}
ul.posts { 
    margin: 20px auto 40px;
}
ul.posts p{
    text-indent:35px;
    font-size: 1em;
    font-weight: 150;
    margin-left: 3%;
}
ul.posts span{
    font-size: 1.2em;
    font-weight: 500;
}
ul.category{
    margin-top: 10%;
}
ul.category li{
    list-style: none;
    margin-bottom: 1em;
}

div.title{
    text-align: center;
}
div.blurb {
    background-color:rgba(0,0,0,0.05);
    padding: 2%;
    margin-bottom: 10px;
    overflow: hidden;
}
div.intro {
    float: left;
    text-indent:20px;
    width:75%
}
div.avatar img{
    float:right;
    border-radius: 50%;
    width: 20%;
    opacity: 0.7;
    vertical-align: middle;
}
div.post{
    font-size: 1.1em;
    background-color:rgba(0,0,0,0.05);
    padding: 2%;
    text-indent:40px;
    margin-bottom: 10px;
    height: 100%;
}
div.post img{
    opacity: 0.7;
    text-align: center;
}
div.header{
    display: inline;
}
div.left{
    float:left;
    width:80%;
    height:100%;
}
div.right{
    float:right;
    width: 20%;
    height:100%;
    text-align: center;
}