<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/blog.css">
		</head>
		<body>
            <div class="container">
                <div class = "left">
                    <div class = "category">
                        {% for category in site.categories %}
                            <h5>{{ category | first }} ({{ category | last | size }})</h5> 
                        {% endfor %}
                    </div>
                </div>
                <div class = "right">
                    {{content}}
                </div>
            </div>
		</body>
	</html>
