<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<nav>
	    		<ul>
					<li class="true"><a href="/">Home</a></li>
					<li>|</li>
					<li class="true"><a href="/resource/Resume_Chuyi Yang.pdf">CV</a></li>
					<li>|</li>
	        		<li class="true"><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>

			<h1>MUQI's seeking.</h1>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
					<li><a href="mailto:ycyjilly@gmail.com">Email</a></li>
					<li>|</li>
					<li><a href="https://github.com/MuqiX">GitHub</a></li>
					<li>|</li>
					<li><a href="https://www.linkedin.com/in/chuyi-yang/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
