<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="title">
				<h1>木槭 | immuqi</h1>
			</div>
			
			<nav>
	    		<ul>
					<li class="true"><a href="/">Home</a></li>
					<li>  </li>
					<!--li class="true"><a href="/blog">Blog</a></li>
					<li>  </li-->
	        		<li class="true"><a href="/test">Blog</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
